<div class="container">
    <div class="row justify-content-center fixed-bottom mb-4">
        <div #toast class="toast align-items-center text-bg-{{type}} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                <i *ngIf="type == types.DANGER" class="bi bi-bug-fill">&nbsp;</i>
                {{message}}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>