.x-value-class {
    top: -2px;
    right: -2px;
    position: absolute;
    z-index: 2;
    h4 {
        span {
            border: none;
            color: var(--bs-success) !important;
            border-radius: 0 var(--bs-card-inner-border-radius) 0 var(--bs-card-inner-border-radius) !important;
        }
    }
    z-index: 2;
}

.x-card-teacher{
    overflow: hidden;
    img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: pointer;
    }
}
.x-card-teacher:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.x-card-body {
    z-index: 1;
    background-color: white;
    height: 150px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.x-rate-class{
    position: absolute;
    bottom: 182px;
    left: 0;
    z-index: 2;
    h4 {
        span {
            border-radius: 0 var(--bs-card-inner-border-radius) 0 0 !important;
            svg {
                color: rgb(255, 187, 0);
                position: relative;
                top: -2px;
            }
        }
    }
}

.x-free-class{
    position: absolute;
    bottom: 182px;
    right: 0;
    z-index: 2;
    h4 {
        span {
            border-radius: var(--bs-card-inner-border-radius) 0 0 0 !important;
            svg {
                color: rgb(255, 115, 0);
                position: relative;
                top: -2px;
            }
        }
    }
}