<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_1.jpg" value="R$ 67/h" title="Card title" [rate]="5" [free-class]="1"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_2.jpg" value="R$ 67/h" title="Card title" [rate]="3"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_3.jpg" value="R$ 67/h" title="Card title" [rate]="2"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_4.jpg" value="R$ 67/h" title="Card title" [rate]="5" [free-class]="2"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_5.jpg" value="R$ 67/h" title="Card title" [rate]="3"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
        <div class="col">
            <x-card-teacher image="assets/persons/teacher_6.jpg" value="R$ 67/h" title="Card title" [rate]="2"
                text="This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                footer="Last updated 3 mins ago">
            </x-card-teacher>
        </div>
    </div>
</div>