<div class="container">
    <div class="row" #container style="min-height: 100vh;">
        <div class="row gx-6">
            <div class="col align-self-center">
                <div class="col-4 offset-md-4">
                    <p class="text-center">XLearn</p>
                    <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário" aria-describedby="basic-addon1">
                    <input type="password" class="form-control mt-4" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary mt-4 btn-lg" tabindex="-1" role="button" aria-disabled="true">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>